#mapid { height: 1000px; }

#header {
    text-align: center;
    font-size: 2em;
    font-family: 'Alegreya SC', serif;
    background-color: rgb(201, 201, 201);
    color:rgb(82, 82, 82);
}

#selection {
    background-color: rgb(201, 201, 201);
}